@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
    --color-text: #f1e4e9;
    --color-background: #1e0b12;
    --color-primary: #de8cae;
    --color-secondary: #8d1b4b;
    --color-accent: #eb4288;

    --font-railway: "Railway", sans-serif; 
}